/* Generic definitions and page defaults*/
html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    color: #d4d4d4;
    background-color: #262626;
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url('/assets/proxima_light.otf');
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('/assets/proxima_bold.otf');
}


/* Set up archor tag behavior */
a {
    text-decoration: none;
    color: #d4d4d4;
}
a:hover {
    color: #8ca1b6;
}


/* Header layout */
header {
    width: 960px;
    padding: 50px 0px 10px 130px;
}
header nav h1 {
    display: inline;
}
header nav h1 a {
    font-family: "Proxima Nova Bold";
    font-size: 32px;
}
header nav div {
    display: inline;
    float: right;
    padding: 8px 0 0 0;
}
header nav div a {
    font-family: "Proxima Nova Light";
    font-size: 22px;
}
hr {
    margin: 0;
    border: 1px solid #8ca1b6;
}


/* Article layout */
article {
    margin: 130px 0 100px 110px;
    padding: 0 0 0 20px;
    width: 610px;
    font-family: "Proxima Nova Light";
    font-size: 16px;
    line-height: 150%;
    text-align: justify;
}
article header {
    padding: 0 0 40px 0;
    width: 610px;
    display: inline-block;
    font-family: "Proxima Nova Bold";
}
article header h1 a {
    float: left;
    margin: 0;
    font-size: 26px;
    border-bottom: 0px;
}
article header h2 a {
    float: right;
    margin: 8px 0 0 0;
    font-size: 16px;
    border-bottom: 0px
}
article blockquote {
    padding: 0 0 0 40px;
    margin: 0;
    display: block;
    border-left: 1px #8ca1b6 solid;
}
article a {
    border-bottom: 1px #d4d4d4 dotted;
}
article li {
    font-family: "Proxima Nova Light";
    line-height: 150%;
}


/* Classes for repeated or special elements */
.separator-bullet {
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.archive-articles:nth-of-type(1) {
    margin: 130px 0 0px 110px;
}
.archive-articles {
    margin: 0px 0 0px 110px;
}
.breaker-glyph {
    text-align: center;
    width: 100%;
    color: #999;
}
.continue-link {
    font-family: "Proxima Nova Light";
    margin: 18px 0 0 0;
    display: block;
    text-align: right;
    border-bottom: 0px;
}
