/* Generic definitions and page defaults*/
html {
    margin: 0;
}
body {
    width: 660px;
    margin: auto;
    padding: 0 20px 0 20px;
    font-family: "Inconsolata";
    color: #575757;
    background-color: #fff;
}
p {
    margin: 0 0 20px 0;
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('/assets/proxima_bold.otf');
}
@font-face {
    font-family: "Inconsolata";
    src: url('/assets/inconsolata.otf');
}


/* Set up archor tag behavior */
a {
    text-decoration: none;
    color: #575757;
}
a:hover {
    color: #8ca1b6;
}


/* Intro */
.intro {
    margin: 60px auto 80px auto;
}
.intro h2 {
    width: 450px;
    margin: 0 auto 60px auto;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
.intro nav p {
    text-align: center;
    font-size: 18px;
}


/* Content framing */
section article {
    margin: 0 0 120px 0;
    padding: 10px 0 0 0;
    line-height: 150%;
    text-align: justify;
    border-top: 1px #575757 solid;
}
section article header {
    font-family: "Proxima Nova Bold";
}
section article header h1 {
    float: left;
    margin: 0 0 20px 0;
    font-size: 22px;
}
section article header h2 {
    float: right;
    margin: 0;
    font-size: 16px;
}
section article p {
    margin: 0 0 20px 0;
    display: inline-block;
}
section article blockquote {
    border-left: 1px dotted #575757;
    padding: 0 40px 0 40px;
    margin: 0;
}


/* Content formatting */
.content-body a {
    border-bottom: 1px #575757 dotted;
}
.content-body a:hover {
    border-bottom: 1px #8ca1b6 dotted;
}
.content-body li {
    line-height: 150%;
}
.content-body img {
    width: 100%;
    max-width: 100%;
}


/* Pagination footer */
nav.pagination {
    text-align: center;
    margin: 0 0 120px 0;
}
nav.pagination span.pagination-progress {
    margin: 0 20px 0 20px;
}
nav.pagination span.pagination-dead-end {
    color: #eee;
}


/* Classes for repeated or special elements */
.no-line {
    padding: 0;
    border-top: none;
}
.archive-articles {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
}
.breaker-glyph {
    margin: 40px 0 40px 0;
    text-align: center;
    width: 100%;
    color: #999;
}
.continue-link {
    margin: 24px 0 0 0;
    display: block;
    text-align: right;
    border-bottom: 0px;
}
.headroom {
    margin: 24px 0 0 0;
}
.no-underline {
    border-bottom: none !important;
}
.no-underline:hover {
    border-bottom: none !important;
}
