---
layout: default
title: home
---


{% for post in site.posts limit:3 %}
<article>
    <header>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <h2><a href="{{ post.url }}">{{ post.date | date_to_string }}</a></h2>
    </header>
    <div class="content-body">{{ post.excerpt }}</div>
    {% assign a = post.content | size %}
    {% assign b = post.excerpt | size %}
    {% assign len = a | minus: b %}
    {% if len > 0 %}
        <a class="continue-link" href="{{ post.url }}">...continue</a>
    {% endif %}
</article>
{% endfor %}
