<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>overtones.fm | {{ page.title }}</title>
    <link rel="author" href="humans.txt">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="alternate" type="application/atom+xml" href="/feed/atom.xml">
</head>

<body>
    <div>
        <header>
            <nav>
                <h1><a href="/">overtones.fm</a></h1>
                <div>
                    <a href="/who">who</a>
                    <span class="separator-bullet">&bull;</span>
                    <a href="/archive">archive</a>
                    <span class="separator-bullet">&bull;</span>
                    <a href="/feed">feed</a>
                </div>
            </nav>
        </header>
        <hr>

        <section>
            {{ content }}
        </section>
    </div>

</body>

</html>