<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ajferrick.com | {{ page.title }}</title>

    <link rel="author" href="humans.txt">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css">

    <link rel="canonical" href="http://ajferrick.com{{ page.url | replace:'index.html',''}}">

    <meta name="viewport" content="width=device-width, initial-scale=1.">
    <meta name="description" content="">
</head>

<body>
    <nav>
        <strong>ajferrick.com</strong>
        <div class="nav-links">
            <a href="/">blog</a> .
            <a href="/about">about</a> .
            <a href="/archive">archive</a> .
            <a href="/feeds/atom.xml">atom</a>
        </div>
        <div class="nav-links">
            <a href="https://twitter.com/ajferrick">twitter</a> .
            <a href="https://github.com/ajferrick">github</a> .
            <a href="http://last.fm/user/ajferrick">last.fm</a>
        </div>
    </nav>

    {{ content }}

</body>

</html>

