<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>overtones.fm | {{ page.title}}</title>
    <link rel="author" href="humans.txt">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="alternate" type="application/atom+xml" href="/feed/atom.xml">
</head>

<body>

    <header>
        <h1><a href="/">overtones.fm</a></h1>
    </header>

    <nav>
        <a href="/about">about</a>
        <a href="/projects">projects</a>
        <a href="/archive">archive</a>
        <a href="https://www.dropbox.com/s/x8oj9wrk12flkvp/ajferrick_resume.pdf">resume</a>
        <div>
            <a href="https://twitter.com/ajferrick"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/ajferrick"><i class="fa fa-github"></i></a>
            <a href="/feeds/atom.xml"><i class="fa fa-rss"></i></a>
        </div>
    </nav>

    <section>
        {{ content }}
    <section>

</body>

</html>